<!DOCTYPE html>
<html lang="en" ng-app="school_cycle">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciclos Escolares</title>

    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Local -->
    <script src="AngularJs.js"></script>
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/511ba11c9f.js" crossorigin="anonymous"></script>
</head>

<body class="container" ng-controller="ctr_module_9">
    <div class="content">
        <div class="aside-menu">
            <label>Menu</label>
        </div>
        <div class="right">
            <div class="right-pag">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="../Modulo_1/index.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_2/index.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_3/index.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_4/index.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_5/index.html">5</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_6/index.html">6</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_7/index.html">7</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_8/index.html">8</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_9/index.html">9</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_10/index.html">10</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container text-center border border-dark">
                <div class="row g-3 m-0">
                    <!-- Buscador -->
                    <div class="card p-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-12 text-start">
                                    <p class="fs-5 fw-bold m-0">
                                        Buscador
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-1 px-1">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="col-11 text-start">
                                    <div>
                                        <input type="search" class="form-control" ng-model="search_cycle" placeholder="Buscar ciclo escolar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tabla -->
                    <div class="card p-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-12 text-start">
                                    <p class="fs-5 fw-bold m-0">
                                        Tabla
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div ng-if="data_table.length == 0">
                                <div class="card shadow-sm bg-body rounded">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center text-start">
                                            <div class="ps-1 fs-3 text-muted">
                                                <i class="fa-regular fa-circle-xmark me-3"></i>
                                            </div>
                                            <div class="py-1">
                                                <p class="border border-0 my-0 pb-1">Todavía no hay ningún ciclo escolar registrado</p>
                                                <p class="border border-0 my-0 text-muted">Los ciclos escolares registrados se mostrarán aquí.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="data_table.length > 0">
                                <form class="user-select-none">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped align-middle">
                                            <thead class="align-middle">
                                                <tr>
                                                    <th scope="col" rowspan="2">ID</th>
                                                    <th scope="col" rowspan="2">NOMBRE</th>
                                                    <th scope="col" rowspan="2">DESCRIPCIÓN</th>
                                                    <th scope="col" rowspan="2">ESTATUS</th>
                                                    <th scope="col" rowspan="2">VISIBILIDAD</th>
                                                    <th scope="col" rowspan="2">EMPIEZA</th>
                                                    <th scope="col" rowspan="2">TERMINA</th>
                                                    <th scope="col" colspan="2">CALIFICACIONES</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">VISUALIZAR</th>
                                                    <th scope="col">CAPTURAR</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                <tr ng-repeat="data in data_table | filter: search_cycle">
                                                    <th scope="row" data-bs-toggle="modal" href="#modalEditarCiclo{{data.id}}">{{data.id}}</th>
                                                    <td>{{data.name}}</td>
                                                    <td>{{data.description}}</td>
                                                    <td>
                                                        <select class="form-select ng-pristine ng-valid ng-not-empty ng-valid-require ng-touched" id="group" ng-options="option.name for option in status.M_options track by option.id" ng-model="status.D_options" required></select>
                                                    </td>
                                                    <td>
                                                        <select class="form-select ng-pristine ng-valid ng-not-empty ng-valid-require ng-touched" id="group" ng-options="option.name for option in visibility.M_options track by option.id" ng-model="visibility.D_options" required></select>
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" id="date_event" value="{{data.start}}">
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" id="date_event" value="{{data.end}}">
                                                    </td>
                                                    <td>
                                                        <div ng-if="data.show == true">
                                                            <div class="d-flex justify-content-center fs-4">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.show" checked>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="data.show == false">
                                                            <div class="d-flex justify-content-center fs-4">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.show">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div ng-if="data.save == true">
                                                            <div class="d-flex justify-content-center fs-4">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.save" checked>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="data.save == false">
                                                            <div class="d-flex justify-content-center fs-4">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.save">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editar ciclo -->
    <div ng-repeat="data in data_table">
        <div class="modal fade" id="modalEditarCiclo{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Ciclo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header text-center">
                                    <p class="fs-5 fw-bold m-0">{{data.name}}</p>
                                </div>
                                <div class="card-body">
                                    <div class="row align-items-center mx-0 user-select-none">
                                        <div class="col-12">
                                            <p>Nombre</p>
                                            <input type="text" class="form-control" value="{{data.name}}" ng-model="data.name">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center mx-0 user-select-none">
                                        <div class="col-12">
                                            <p>Descripción</p>
                                            <input type="text" class="form-control" value="{{data.description}}" ng-model="data.description">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center mx-0 user-select-none">
                                        <div class="col-12">
                                            <p>Empieza</p>
                                            <input type="date" class="form-control" value="{{data.start}}">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center mx-0 user-select-none">
                                        <div class="col-12">
                                            <p>Termina</p>
                                            <input type="date" class="form-control" value="{{data.end}}">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center mx-0 user-select-none">
                                        <div class="col-12">
                                            <p>Periodo vacacional</p>
                                            <input type="text" class="form-control" value="{{data.vacs}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center border-bottom">
                                    <p class="fs-5 fw-bold fs-bold m-0">Calificaciones</p>
                                </div>
                                <div class="card-body">
                                    <div class="list-group-item align-items-center p-0">
                                        <div class="row align-items-center mx-0">
                                            <div class="col-1">
                                                <i class="fa-solid fa-gear fs-3"></i>
                                            </div>
                                            <div class="col-10 text-start">
                                                <p class="my-0 pt-2 fs-5">Visualizar</p>
                                                <p class="my-0 pb-2 text-muted">Permite que los alumnos puedan visualizar las calificaciones capturadas hasta el momento</p>
                                            </div>
                                            <div class="col-1">
                                                <div ng-if="data.show == true">
                                                    <div class="d-flex justify-content-center fs-4">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.show" checked>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="data.show == false">
                                                    <div class="d-flex justify-content-center fs-4">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.show">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="list-group-item align-items-center p-0">
                                        <div class="row align-items-center mx-0">
                                            <div class="col-1">
                                                <i class="fa-solid fa-gear fs-3"></i>
                                            </div>
                                            <div class="col-10 text-start">
                                                <p class="my-0 pt-2 fs-5">Capturar</p>
                                                <p class="my-0 pb-2 text-muted">Permite a los docentes subir calificaciones y modificar las evaluaciones del periodo</p>
                                            </div>
                                            <div class="col-1">
                                                <div ng-if="data.save == true">
                                                    <div class="d-flex justify-content-center fs-4">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.save" checked>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="data.save == false">
                                                    <div class="d-flex justify-content-center fs-4">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="data.save">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Eliminar</button>
                        <button type="button" class="btn btn-primary w-25" data-bs-dismiss="modal">Establecer</button>
                        <button type="button" class="btn btn-success w-25" data-bs-dismiss="modal">Guargar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8 " crossorigin="anonymous "></script>
</body>

</html>