<!DOCTYPE html>
<html lang="en" ng-app="career">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreras</title>

    <!-- AngularJs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Local -->
    <script src="AngularJs.js"></script>
    <link rel="stylesheet" href="style.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/511ba11c9f.js" crossorigin="anonymous"></script>
</head>

<body class="container" ng-controller="ctr_module_8">
    <div class="content">
        <div class="aside-menu">
            <label>Menu</label>
        </div>
        <div class="right">
            <div class="right-pag">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="../Modulo_1/index.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_2/index.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_3/index.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_4/index.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_5/index.html">5</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_6/index.html">6</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_7/index.html">7</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_8/index.html">8</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_9/index.html">9</a></li>
                        <li class="page-item"><a class="page-link" href="../Modulo_10/index.html">10</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container text-center border border-dark">
                <div class="row g-3 m-0">
                    <!-- Parte izquierda -->
                    <div class="col-lg-6">
                        <form class="card shadow-sm bg-body rounded">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-12 text-start">
                                        <h6 class="card-title my-0 fs-5">Carreras</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <h6 for="period" id="options-label" class="card-title my-0">Carrera</h6>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select ng-pristine ng-valid ng-not-empty ng-valid-require ng-touched" id="group0" ng-options="option.name for option in careers.M_options track by option.id" ng-model="careers.D_options" required></select>
                                    </div>
                                </div>
                                <div ng-if="careers.D_options.view != 'invisible'">
                                    <hr>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="btn-group w-75" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEditarMateria">Editar</button>
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregarMateria">Agregar plan</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row align-items-center">
                                        <div class="col-5">
                                            <h6 for="period" id="options-label" class="card-title my-0">Plan de estudio</h6>
                                        </div>
                                        <div class="col-7">
                                            <div ng-if="careers.D_options.id != '3'">
                                                <select class="form-select ng-pristine ng-valid ng-not-empty ng-valid-require ng-touched" id="group1" ng-options="option.name for option in software.M_options track by option.id" ng-model="software.D_options" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="software.D_options.view != 'invisible' && diseno.D_options.view != 'invisible' && careers.D_options.id != '3'">
                                        <hr>
                                        <div class="row align-items-center justify-content-center">
                                            <div class="btn-group w-75" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEditarPlan">Editar</button>
                                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPlan">Agregar materia</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Parte derecha -->
                    <div ng-if="careers.D_options.view != 'invisible'" class="col-lg-6">
                        <div ng-if="careers.D_options.name == 'ARH'">
                            <div class="card shadow-sm bg-body rounded">
                                <div class="card-body">
                                    <div class="d-flex align-items-center text-start">
                                        <div class="ps-1 fs-3 text-muted">
                                            <i class="fa-solid fa-circle-exclamation me-3"></i>
                                        </div>
                                        <div class="py-1">
                                            <p class="my-0 pb-1">No tiene plan de estudios</p>
                                            <p class="border border-0 my-0 text-muted">Crea un plan de estudios para esta carrera.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="careers.D_options.name != 'ARH' && software.D_options.view != 'invisible'">
                            <div class="card shadow-sm bg-body rounded">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div id="options-label" class="col-12">
                                            <h6 class="card-title my-0 fs-5">Materias de la retícula</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover align-middle">
                                            <thead>
                                                <tr>
                                                    <th scope="col" rowspan="2">NO.</th>
                                                    <th scope="col" rowspan="2">MATERIA</th>
                                                    <th scope="col" rowspan="2">NIVEL</th>
                                                    <th scope="col" rowspan="2">NUM. HORAS</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-if="software.D_options.name == 'ISW 2008-2013'">
                                                <tr ng-repeat="data1 in data_software1">
                                                    <th scope="row">{{data1.number}}</th>
                                                    <td>{{data1.matter}}</td>
                                                    <td>{{data1.level}}</td>
                                                    <td>{{data1.hours}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-if="software.D_options.name == 'ISW 2014-2019'">
                                                <tr ng-repeat="data2 in data_software2">
                                                    <th scope="row">{{data2.number}}</th>
                                                    <td>{{data2.matter}}</td>
                                                    <td>{{data2.level}}</td>
                                                    <td>{{data2.hours}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- Modal Editar plan -->
    <div class="modal fade" id="modalEditarPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header text-center">
                                <p class="fs-5 fw-seimbold m-0">{{software.D_options.name}}</p>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Título</p>
                                        <input type="text" class="form-control" value="{{software.D_options.name}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Eliminar</button>
                    <button type="button" class="btn btn-success w-25" data-bs-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Agregar plan -->
    <div class="modal fade" id="modalAgregarPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar plan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header text-center">
                                <p class="fs-5 fw-seimbold m-0">Materias</p>
                            </div>
                            <div class="card-body">
                                <div class="card p-0">
                                    <div class="card-header text-start">
                                        <p class="fs-5 fw-bold m-0">
                                            Buscador
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center text-center">
                                            <div class="col-1 px-1">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </div>
                                            <div class="col-11 text-start">
                                                <div>
                                                    <input type="search" class="form-control" ng-model="search_matter" placeholder="Buscar citatorio">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3 p-0">
                                    <div class="card-header text-start">
                                        <p class="fs-5 fw-bold m-0">Materias</p>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li ng-repeat="matter in maters | filter: search_matter" class="list-group-item">
                                                <div ng-if="matter.status == true">
                                                    <input class="form-check-input me-1" type="checkbox" id="firstCheckbox" ng-model="matter.status" checked>
                                                    <label class="form-check-label" for="firstCheckbox">{{matter.name}}</label>
                                                </div>
                                                <div ng-if="matter.status == false">
                                                    <input class="form-check-input me-1" type="checkbox" id="firstCheckbox" ng-model="matter.status">
                                                    <label class="form-check-label" for="firstCheckbox">{{matter.name}}</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar materia -->
    <div class="modal fade" id="modalEditarMateria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Carrera</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header text-center">
                                <p class="fs-5 fw-seimbold m-0">{{careers.D_options.name}}</p>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Título</p>
                                        <input type="text" class="form-control" value="{{careers.D_options.name}}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Abreviatura</p>
                                        <input type="text" class="form-control" value="{{careers.D_options.ab}}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Área</p>
                                        <input type="text" class="form-control" value="{{careers.D_options.area}}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Formáto de matrícula</p>
                                        <input type="text" class="form-control" value="{{careers.D_options.mat}}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>PDF</p>
                                        <input type="text" class="form-control" value="{{careers.D_options.link}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Eliminar</button>
                    <button type="button" class="btn btn-success w-25" data-bs-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal agregar materia -->
    <div class="modal fade" id="modalAgregarMateria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Plan de estudios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header text-center">
                                <p class="fs-5 fw-seimbold m-0">Agregar</p>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mx-0 user-select-none">
                                    <div class="col-12">
                                        <p>Título</p>
                                        <input type="text" class="form-control" placeholder="Escriba el nombre de la carrera">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success w-25" data-bs-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>